<div class="container-fluid">
  <p id="notice"><%= notice %></p>

  <h1 class="d-block p-2 bg-primary text-white">Servicios</h1>

  <table>
    <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
    </thead>

    <div>
      <%= turbo_stream_from "tweets" %>
      <%= turbo_frame_tag "tweets" do %>
        <%= render @tweets %>
      <% end %>
    </div>
  </table>

  <br>

  <%= link_to 'Nuevo Servicio', new_tweet_path, class: 'btn btn-primary' %>
</div>
